<!DOCTYPE html>
<html>
    <head>
      <title> Makersbnb </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- <link rel="stylesheet" type="text/css" href="css/style.css">. -->
    </head>
      <h1 align='center'> Makers BnB </h1>
    <body>

      <h3 align='center'> Welcome <%= @user.name %> </h3>

    <div id="list-new-space">
      <button type="button" id="list-a-space" > list a space </button>
    </div>

      <% @spaces.reverse_each do |space| %>
      <h3> * <%= space.name %> </h3>
      <h5> Description: <%= space.description %> </h5>
      <h4> Price: <%= space.price %> </h4>
      <div id="request-space" >
        <button type="button" id="request" value='<%=space.id%>'> Request </button>
      </div>
      <% end %>

      <script>
        $(document).ready(function() {
          $("#list-a-space").click(function () {
            $.get("new_list_form.html", function(data){
              $("#list-new-space").html(data);
            });
          });
        
          $('#request-space').click(function() {
            id = $('#request').val();
            $.post('/post_request', {id: id});
          });
        });
      </script>
    </body>
</html>